.boxcontainer{

	display: flex;
	position: absolute;

	background-color: black;
	width: 200px;
	height: 70px;

}

.bluebox{

	box-sizing: border-box;
	position: absolute;
	top: 50px;

	background-color: blue;
	color: black;
	width: 100px;
	height: 100px;
}

.greenbox{

	box-sizing: border-box;
	position: relative;
	top: 80px;	


	background-color: green;
	color: black;
	width: 100px;
	height: 100px;
}

.yellfowbox{

	box-sizing: border-box;
	position: ;

	background-color: yellow;
	color: black;
	width: 100px;
	height: 100px;
}