.navigation{
	
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 70px;
	background-color: white;
	border-bottom: #E6E6E6 solid 1px;
	padding-left : 200px;
	padding-right: 200px;
}

.navigation__column{

	display: flex;
}

.search_content{
	width: 200px;
	height: 24px;
	background-color: #F9F9F9;
	border-radius: 4px;
	border: 1px solid #DBDBDB;
	text-align: center;
}

i.fa-search{

	position: absolute;
	padding-left: 20px;
	margin-top: 9px;
	font-size: 12px;
	color: #BABBBE;
	z-index:;
}


.explore_link{
	font-size: 28px;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
}

.overall_container{
	display: flex;
	justify-content: center;
}

.feed_container{
	max-width: 600px;
	max-width: 100%;
	margin-top: 60px;
	border: 1px solid #e6e6e6;
}

.author_container{

	display: flex;
	align-items: center;

	padding-left: 15px;
	background-color: white;
	height: 60px;

}

.author_avatar{
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.author_name{
	margin-left: 10px;
}

.insta_image{
	border : 1px solid #e6e6e6;
	max-width: 600px;
	height: 600px;
}

.contents_container{

	background-color: white;
	width: 600px;	
	padding: 14px 14px;
}

.action_container i{
	font-size: 22px;
	margin-right: 10px;
}

.fa-comment-o{
	padding-bottom: 6px;
}

.likes_count{

	margin-top: 2px;
}


.comment_author{

	font-weight: 600;
}

.contents_time{
	font-size: 10px;
	color: #999;
}

.addcomment_container{
	margin-top: 15px;
}

.addcomment_container input {
	padding-top: 20px;
	width: 90%;
	border: none;
	border-top: 1px solid #e6e6e6;
	padding-bottom: 10px;
}






